@import '@inkline/inkline/css/variables/index.scss';
@import '@inkline/inkline/css/mixins/index.scss';

:root {
    --color--primary--h: 195deg;
    --color--primary--s: 77%;
    --color--primary--l: 39%;
}
